{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ model_info }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('main.upload_file', name=model_name) }}" method="post" enctype="multipart/form-data">
        <img id="img_preview" style="width:320px; height: 400px; border: 1px solid #2998ff;"/>
        <input type="text" class="file-name" disabled="disabled">
        <div class="flex-container">
            <label for="image" class="button" style="margin-right: 20px;">사진 선택</label>
            <input type="file" id="image" name="image" class="upload-hidden" accept=".jpg, .jpeg, .png"/>
            <label for="submit" class="button">측정하기</label>
        </div>
        <h3>치아를 드러낸 얼굴 정면 사진을 올려주세요</h3>
        <input type="submit" id="submit"/>
    </form>
{% endblock %}