html { font-size: 62.5%; height: 200vh; }

@media all and (max-width: 900px) {
    html { font-size: 55%; }
}
@media all and (max-width: 750px) {
    html { font-size: 50%; }
}
@media all and (max-width: 675px) {
    html { font-size: 40%; }
}
@media all and (max-width: 600px) {
    html { font-size: 30%; }
}

body {
    background-color: #2998ff;
    height: 100%;
}

.Title {
    color: white;
    font-family: ".AppleSystemUIFont";
    text-align: center;
    font-size: 15rem;
    width: 100%;
}

.Tail {
    color: white;
    font-family: '.AppleSystemUIFont';
    text-align: center;
    font-size: 7rem;
    position: absolute;
    width: 100%;
    top: 180vh;
}

* {
    margin: 0px;
    padding: 0px;
}

.Page {
    height: 200vh;
    width: 100%;

}

.Banner {
    width: 100vw;
    height: 30vh;
    display: table-cell;
    vertical-align: middle;
}

.main-item {
    width: 80vw;
    height: 20rem;
    background-color: white;
    border-radius: 1rem;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    animation-fill-mode: forwards;
}

.MainItemTitle {
    font-family: '.AppleSystemUIFont';
    font-size: 5rem;
    font-weight: bold;
    color: #2998ff;
    margin-bottom: 2rem;
    position: relative;
}

.MainItemInfo {
    font-family: '.AppleSystemUIFont';
    font-size: 3rem;
    color: #2998ff;
    position: relative;
    bottom: 1rem;
}

.MainItemButton {
    background-color: #2998ff;
    border: 0.1rem solid #2998ff;
    width: 15rem;
    height: 6rem;
    border-radius: 0.5rem;
    color: white;
    font-family: '.AppleSystemUIFont';
    font-size: 2rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    opacity: 0.5;
    outline: 0;
}

.NavTab {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.NavTabText {
    font-family: '.AppleSystemUIFont';
    font-size: 3rem;
    color: white;
    opacity: 0.7;
}

.ModelMenu {
    display: flex;
    justify-content: space-around;
    width: calc(80vw - 14rem);
    margin: 2rem auto 1rem;
}

.ModelInfo {
    display: flex;
    width: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
.ModelIcon {
    width: 25vw;
    height: 25vw;
    background-color: #2998ff;
    border-radius: 7vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.ModelTry {
    text-align: center;
    margin-top: 1.5rem;
    font-family: '.AppleSystemUIFont';
    font-size: 2rem;
    font-weight: lighter;
    color: #2998ff;
}

.WhiteText {
    font-family: '.AppleSystemUIFont';
    color: white;
    text-align: center;
    font-size: 2rem;
}

.ModelResultImage{
    width: 30vw;
    height: 15vw;
    border-radius: 1rem;
    animation-duration: 3s;
    animation-name: slide;
    margin-bottom: 5rem;
}

.ModelResultText {
    font-family: '.AppleSystemUIFont';
    color: #2998ff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    animation-duration: 3s;
    animation-name: alert;
    margin-bottom: 3rem;
}

a {
    text-decoration: None;
}

Link {
    text-decoration: None;
}

input[type=submit] {
  opacity: 0;
  height: 0px;
  width: 0px;
}

input[type=file] {
  opacity: 0;
  height: 0px;
  width: 0px;
}

@keyframes alert {
    from {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }

}

@keyframes spread-down {
    from {
        height: 0px;
    }
    to {
        height: 80vh;
    }
}

@keyframes spread-down-65rem {
    from {
        height: 30rem;
    }
    to {
        height: 65rem;
    }
}

@keyframes spread-down-150rem {
    from {
        height: 65rem;
    }
    to {
        height: 150rem;
    }
}

@keyframes slide {
    from {
        margin-top: 10rem;
        opacity: 0;
    }
    to {
        margin-top: 0rem;
        opacity: 1;
    }
}

@keyframes spread-out {
    from {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    to {
        width: 40vw;
        height: 40vw;
        opacity: 1;
    }
}