<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chika Lab</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"/>
        <script src="{{ url_for('static', filename='react/react.js') }}"></script>
        <script src="{{ url_for('static', filename='react/react-dom.js') }}"></script>
        <script src="{{ url_for('static', filename='react/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='react/ReactRouter.js') }}"></script>
    </head>
    <body id="content">
        <script type="text/babel" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>