<!DOCTYPE html>
<title>ChikaLab - {% block title %}{% endblock %}</title>
<Link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{#<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>#}
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script>
    $(document).ready(function(){
        var fileTarget = $('.upload-hidden');
        fileTarget.on('change', function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            {#$(this).siblings('.file-name').val(filename);#}
            $('.file-name').val(filename);
        });
    });
</script>
<script>
    $.fn.setPreview = function(opt){
        "use strict"
        var defaultOpt = {
            inputFile: $(this),
            img: null,
            w: 320,
            h: 400,
        };
        $.extend(defaultOpt, opt);

        var previewImage = function(){
            if (!defaultOpt.inputFile || !defaultOpt.img) return;
            var inputFile = defaultOpt.inputFile.get(0);
            var img = defaultOpt.img.get(0);

            if (window.FileReader){
                if (!inputFile.files[0].type.match(/image\//)) return;

                try{
                    var reader = new FileReader();
                    reader.onload = function (e){
                        img.src = e.target.result;
                        img.style.width = defaultOpt.w + 'px';
                        img.style.height = defaultOpt.h + 'px';
                        img.style.display = '';
                    }
                    reader.readAsDataURL(inputFile.files[0]);
                } catch (e) {

                }
            } else if (img.filters){
                inputFile.select();
                inputFile.blur();
                var imgSrc = document.selection.createRange().text;

                img.style.width = defaultOpt.w + 'px';
                img.style.height = defaultOpt.h + 'px';
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";
                img.style.display = '';
            } else {

            }
        };
        $(this).change(function(){
            previewImage();
        });
    };

    $(document).ready(function(){
        var opt = {
            img: $('#img_preview'),
            w: 320,
            h: 400,
        };

        $('#image').setPreview(opt);
    });
</script>
<nav>
    <h1 class="logo"><a href="/">Chika Lab</a></h1>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</section>